html{
    background-color: black;
}

.content-container{
    width: 90%;
    margin: auto;
}

/* homepage/general code */

a{
    text-decoration: none;
    color: white;

}

p{
    color: white;
    font-family: "karmina", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 60px;
    margin: 0;
}

h2{
    font-size: 45px;
}

h1, h2{
    color: white;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}


h3{
    color: gold;
    font-family: "karmina", serif;
    font-weight: 400;
    font-size: 30px;
    padding: 50px;
    padding-top: 70px;
    width: 50%;
    text-align: center;
    margin: auto;
}

nav{
    justify-content: space-between;
    align-items: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* top: 0;
    position: fixed; */
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}

nav a{
    padding: 0 80px;
    vertical-align: middle;
}

.nav_red{
    color: rgb(192, 3, 3);
}

img.logo{
    width: 50px;
    height: 50px;
    /* padding-top: 20px; */
    /* transform: translateY(12px); */
}

.headermanufacture{
    height: calc(100vh - 96px);
    /* height: 80vh; */
    width: 100vw;
    object-fit: cover;
    opacity: 50%;
    object-fit: fill;
    object-position: top center;
    left: 0;
}

.img{
    width: 1000px;
    height: 750px;
}

.first-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 200px;
}

.first-image{
    margin: auto;
}

.string-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 1135px;
    left: 260px;
    margin: 0;
    line-height: 1;
}


.second-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 200px;
}

.key-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 2085px;
    right: 10px;
    margin: 0;
    line-height: 1;
}

.second-image{
    margin: auto;
}

.third-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 200px;
}

.third-image{
    margin: auto;
}

.rim-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 3040px;
    left: 260px;
    margin: 0;
    line-height: 1;
}

.fourth-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 250px;
}

.fourth-image{
    margin: auto;
}

.bridge-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 3988px;
    right: -200px;
    margin: 0;
    line-height: 1;
}

footer{

    background-color: black;
    padding: 60px;
    padding-bottom: 30px;
}

footer p{
    color: white;
    font-family: "karmina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    margin: 5px;
}

/* hover stylings */

nav a:hover{
    color: rgb(192, 3, 3);
}

.first-container:hover h2,.second-container:hover h2,.third-container:hover h2,.fourth-container:hover h2{
    color: rgb(192, 3, 3);
    transform: translateX(-90px);
}

