
.headerpianos{
    height: calc(100vh - 96px);
    /* height: 80vh; */
    width: 100vw;
    opacity: 50%;
    object-fit: fill;
    object-position: top center;
    left: 0;
}

/* general image layout */

.squaregrid{
    width: 48%;
    height: 350px;
    margin: 5px;
    object-fit: cover;
}

/* grand section */
.first-container {
    display: flex;
    padding-top: 200px;
}

.first-image{
    width: 80%;
    margin: auto;
}

.grand-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 1140px;
    left: 130px;
    margin: 0;
    line-height: 1;
}

/* upright collection section */
.second-container{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-left: 170px;
}

.second-image{
    width: 50%;
    padding-left: 100px;
}

.second-container .bodytext{
    width: 40%;
    padding-top: 150px;
}

.second-container .bodytext p{
    color: white;
    font-family: "karmina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    /* width: 50%; */
}

.second-container .bodytext ul{
    padding-top: 10px;
    padding-bottom: 10px;
}

.upright-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 1920px;
    right: 45px;
    margin: 0;
    line-height: 1;
}

.doubleimg{
    width: 553px;
    height: 400px;
}

/* exotic woods section*/
.third-container{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 250px;
    padding-left: 150px;
}

.third-image{
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.third-image .squaregrid{
    height: 400px;
}

.exotic-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 2990px;
    left: 130px;
    margin: 0;
    line-height: 1;
}

/* Special Section */

.fourth-container{
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 60px;
    padding-left: 75px;
    padding-bottom: 60px;
}

.fourth-image{
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.special-sideheader{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 3860px;
    right: -245px;
    margin: 0;
    line-height: 1;
}

/* last body text */
.fifth-container{
    width: 79%;
    margin: auto;
    padding-bottom: 200px;
}

/* hover stylings */

nav a:hover{
    color: rgb(192, 3, 3);
}

.plainpianos:hover h2,.specialpianos:hover h2{
    color: rgb(192, 3, 3);
    transform: translateX(-90px);
}